---
import ProjectCard from '../ui/cards/ProjectCard.astro';
import Sacbe from '../logos/Sacbe.astro';
import Logo from '../logos/Logo.astro';
import Fws from '../logos/Fws.astro';
import NewProjectCard from '../ui/cards/NewProjectCard';
import projectData from '../../data/data.json';
---

<section class="flex flex-col items-center gap-8">
  <div class="">
    <h2 class="text-center text-[#c2c6da] text-4xl font-bold mb-2">Projects</h2>
    <div
      class="w-24 h-1 bg-gradient-to-r from-orange-400 to-yellow-400 mx-auto rounded-full"
    >
    </div>
  </div>

  <div class="flex flex-col lg:hidden gap-3 sm:grid sm:grid-cols-1 sm:gap-5">
    <ProjectCard
      title="FitWorld Shop"
      text="Modern, responsive e‑commerce storefront built with Next.js, Tailwind CSS, and Shopify Storefront API. Features clean UI, advanced product browsing, customer reviews with images, wishlist via Firebase, and scalable PWA support with offline use and iOS 'Add to Home Screen' install."
      url="https://ecommerce.koxland.dev/"
      development={true}
    >
      <Fws title="FW Shop" src="fws" />
    </ProjectCard>

    <ProjectCard
      title="Sacbe Tours"
      text="A modern, responsive web application built with React and Tailwind CSS for booking tours in Mexico and around the world. It features real-time tour availability, dynamic pricing, and a seamless booking flow powered by a custom API, providing users with a clean, intuitive experience across all devices."
      url="https://tours.koxland.dev/"
      development={true}
    >
      <Sacbe />
    </ProjectCard>

    <ProjectCard
      title="Sacbe Coupon Generator"
      text="A responsive React and Tailwind-based web app that displays promotional coupons from an external API. Users can view offers by region, access detailed coupon information, and generate passes compatible with Apple Wallet and Google Wallet through dynamic endpoint integration."
      url="https://coupons.koxland.dev/"
    >
      <Sacbe />
    </ProjectCard>

    <ProjectCard
      title="TicTacToe Game"
      text="A classic turn-based game built with React, Tailwind CSS, and Framer Motion, featuring smooth animations, user turn tracking, and a clean responsive UI. Designed for fun and fast matches with modern frontend technologies. Fully PWA-ready, including offline support and iOS 'Add to Home Screen' installation for an app-like experience."
      url="https://tictactoe.koxland.dev/"
    >
      <Logo title="TicTacToe Game" src="tictactoe" />
    </ProjectCard>

    <!-- <ProjectCard
      title="Planet Facts App"
      text="A responsive web app built with React and Tailwind CSS, featuring smooth animations and fun, bite-sized facts about each planet in the solar system. Designed to be visually engaging and educational across all devices."
      url="https://planetfacts.koxland.dev/"
    >
      <Logo title="Planet Facts" src="planet" />
    </ProjectCard> -->

    <ProjectCard
      title="Component Library"
      text="A React and Tailwind component library featuring live previews, ready-to-use code snippets, and a growing collection of animated UI elements. Browse, preview, and copy components easily to accelerate building beautiful, responsive interfaces for your projects."
      url="https://components.koxland.dev/"
      development={true}
    >
      <Logo title="Library" src="library" font="Space_Grotesk" />
    </ProjectCard>

    <ProjectCard
      title="Tetris Game"
      text="A Tetris game built with Vanilla JavaScript and Tailwind CSS, featuring real-time keyboard controls, smooth piece movement, line-clearing mechanics, score and timer tracking, sound effects, and a retro-inspired UI designed for fluid gameplay across desktop and mobile devices."
      url="https://tetris.koxland.dev/"
    >
      <Logo title="Tetris Game" src="tetris" />
    </ProjectCard>
    <!-- 
        <ProjectCard
      title="KX-Chat"
      text="KoxChat is a modern, responsive chat application built with React, Firebase, and Tailwind CSS. It features secure user authentication, unique usernames, real-time user search, and a clean, intuitive UI."
      url="https://kxchat.koxland.dev/"
      development={true}
    >
      <Logo title="KX Chat" src="kxchat" />
    </ProjectCard> -->
  </div>

  <div class="hidden lg:flex flex-col gap-5">
    <NewProjectCard
      project={projectData.fws}
      visibleCount={1}
      folder="fws"
      client:load
    />
    <NewProjectCard
      project={projectData.tours}
      visibleCount={2}
      folder="tours"
      client:load
    />
    <NewProjectCard
      project={projectData.coupons}
      visibleCount={3}
      folder="coupons"
      client:load
    />
    <NewProjectCard
      project={projectData.components}
      visibleCount={2}
      folder="components"
      client:load
    />
    <NewProjectCard
      project={projectData.tictactoe}
      visibleCount={3}
      folder="tictactoe"
      client:load
    />
    <NewProjectCard
      project={projectData.tetris}
      visibleCount={2}
      folder="tetris"
      client:load
    />
  </div>
</section>
